* {
    font-family: Georgia, "Times New Roman", Times, serif;

    padding: 0%;
    margin: 0%;
}

ul,
ol {
    list-style: none;
}

.nav li a {
    background-color: white;
    color: #000000;
    width: auto;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav li a.amenu {
    padding: 0%;
    border-radius: 100%;
}

.nav li a:hover {
    background-color: #fc75b8;
}

.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;


}

.nav li:hover>ul {
    display: block;
}

.nav li ul.pos1 li {
    position: relative;
    left: -40px;

}

.nav li ul.pos2 li {
    position: relative;
    left: -130px;

}

.nav li a img.menu {
    width: 50px;
    height: 50px;
    border-radius: 100%;


}

.contenedor {
    width: 100%;
    display: grid;


    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:
        "contenido contenido contenido sidebar"
        "contenido contenido contenido sidebar"
        "contenido contenido contenido sidebar"
        "footer footer footer footer";
}

.contenedor>div {
    /*background-color: #7EF8FF;^*/
    padding: 20px;

}



.contenedor .header a,
.contenedor .sideheader a,
.contenedor .share a {
    text-decoration: none;

    color: rgb(255, 255, 255);
}


.contenedor .header a:hover,
.contenedor .sideheader a:hover,
a:hover {
    color: rgb(0, 217, 255);
    animation-duration: 3s;
    animation-name: colors;
    animation-iteration-count: infinite;
}

.contenedor .header input.search:hover,
.contenedor .share img.adj:hover,
input.submit:hover,
input.normalinput:hover,
.contenedor .share textarea:hover,
img.xclose:hover,
select:hover {
    animation-duration: 3s;
    animation-name: colorsborder;
    animation-iteration-count: infinite;
    border: solid 2px rgb(0, 217, 255);
}

@keyframes colorsborder {
    1% {
        border: solid 2px rgb(0, 217, 255);
    }

    20% {
        border: solid 2px #00ee93;
    }

    40% {
        border: solid 2px #fbff00;
    }

    60% {
        border: solid 2px #00ee93;

    }

    80% {
        border: solid 2px rgb(0, 217, 255);
    }

}

@keyframes colors {
    1% {
        color: rgb(0, 217, 255);
    }

    20% {
        color: #00ee93;
    }

    40% {
        color: #fbff00;
    }

    60% {
        color: #00ee93;
    }

    80% {
        color: rgb(0, 217, 255);
    }

}

.contenedor .header {

    position: fixed;
    font-size: 20px;
    border-radius: 0%;
    background-color: #000000b0;
    /*grid-column-start: 1;
    grid-column-end: -1;*/

    display: inline-flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    grid-gap: 5%;
    z-index: 5;

}



.contenedor .header input.search {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 200px;
    background-color: #ffffffc0;
    border: transparent;

    padding: 10px 10px 10px 30px;
    outline: none;
    color: black;
    border-radius: 20px;
    z-index: 0;


}

.contenedor .sideheader {

    background-color: #000000;
    height: 100%;
    position: fixed;
    width: 6%;
    max-width: 6%;
    border-radius: 0%;
    z-index: 3;
    margin: 0%;
    font-size: 15px;



}

.contenedor .sideheader .inicio {
    position: relative;
    margin-bottom: 40%;

    text-align: center;
    justify-content: center;
    top: 10%;
    bottom: 50%;
}



.share {
    background-color: #3a3a3a;
   font-size: 10px;
    position: fixed;
    top: 13%;
    left: 10%;
    border-radius: 10px;
    padding: 2em;
    color: white;
    z-index: 7;
    
}

.login {
    font-size: 10px;
    background-color: #3a3a3a;
    display: none;
    position: fixed;
    top: 13%;
    left: 10%;
    border-radius: 10px;
    padding: 2em;
    color: white;
    z-index: 7;
}

.space {
    width: 70%;
}



.flex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-gap: 1em;
}

.register {
    font-size: 10px;
    background-color:  #3a3a3a;
    display: none;
    position: fixed;
    top: 13%;
    left: 10%;
    border-radius: 10px;
    padding: 2em;
    color: white;
    z-index: 7;
}

.uploevent {
    font-size: 10px;
    background-color: #3a3a3a;
    display: none;
    position: fixed;
    top: 13%;
    left: 10%;
    border-radius: 10px;
    padding: 2em;
    color: white;
    z-index: 7;
}

.normalinput {
    width: 150px;
    background-color: #ffffffc0;
    border:solid 2px;

    padding: 10px 10px 10px 30px;
    outline: none;
    color: black;
    border-radius: 20px;
}
select{
    width: 150px;
    background-color: #ffffffc0;
    border:solid 2px;

    padding: 10px 10px 10px 30px;
    outline: none;
    color: black;
    border-radius: 20px;
}
select option{
    background-color: #acacacc0;
    
}

.form-group {
    display: flex;
    align-items: center;
    grid-gap: 50px;
}

.flexsubmit {
    display: flex;
}

img.xclose {
    border-radius: 20px;
    border: solid 2px #000000b0;

}

img.adj {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid 2px white;

}

.form-group>input {
    display: none;
}

textarea {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 30px;
    width: 80%;
    max-height: 100px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: solid 2px;
    box-shadow: 1px 1px 1px #6b6b6b;
}

input.submit {
    width: 200px;
    background-color: #ffffffc0;
    border: transparent;
    font-size: 20px;
    padding: 15px;
    outline: none;
    color: black;
    border-radius: 20px;
    border: solid 2px #ffffffc0;
}

.contenedor .contenido {
    /*grid-column: span 3;*/
    grid-area: contenido;
    margin-left: 10%;
    background-image: url("images/fondob.avif");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10%;
    justify-content: center;
    text-align: center;




}
.Arquitectura,
.Dibujo,
.Danza,
.Escultura{
    position: relative;
    left:12%;
    border-radius: 10px;
    padding: 2em;
    color: white;
    z-index: 2;
    margin-bottom: 2em;
    max-width: 70%;
}
.Escultura{
    background-color:  #3a3a3a;
}
.Danza{
    background-color:  rgb(0, 91, 94);
}
.Dibujo{
    background-color:  rgb(0, 28, 39);
}
.Arquitectura{
    background-color:  rgb(21, 0, 31);
}

.contenedor .sidebar {

    padding-top: 30%;
    text-align: center;
    justify-content: center;
    background-image: url("images/sidebar.png");
    background-attachment: fixed;
    background-size: 100% auto 100% auto;


    /*grid-row: 2/4;
    grid-column: 4/5;*/
    grid-area: sidebar;


}


.contenedor .footer {

    /*grid-column-start: 1;
    grid-column-end: -1;*/
    grid-area: footer;
    margin-bottom: 0%;
    border-radius: 0%;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    text-align:center ;
    color: white;
    height: 100%;
    z-index: 2;

}